.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav i {
  font-size: 24px;
  color: #000;
}
